<%= render "shared/header"%>

<div class="main-index">

  <input id="c" type="radio" name="tab_item" checked>
  <label class="tab_item" for="c">カレンダー</label>
  <input id="t" type="radio" name="tab_item" checked>
  <label class="tab_item" for="t">タスク一覧</label>
  
  <div class="tab_content" id="calendars">
    <%= month_calendar events: @task do |date, tasks| %>
    <%= date.day %>
      <% tasks.each do |task| %>
        <div>
          <%= link_to task.title, task_path(task.id) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="tab_content" id="tasks">
  <div class="main-task">
    <nav class="navbar navbar-light bg-light">
      <%= search_form_for @q do |f| %>
        <%= f.label :name, "タイトル検索" %>
        <%= f.search_field :title_cont %>

        <%= f.label :"優先度" %>
        <%= f.radio_button :priority_id_eq, '', {:checked => true} %>指定なし
        <%= f.radio_button :priority_id_eq, 2 %>最優先
        <%= f.radio_button :priority_id_eq, 3 %>高
        <%= f.radio_button :priority_id_eq, 4 %>中
        <%= f.radio_button :priority_id_eq, 5 %>低

        <%= f.submit "検索" %>
      <% end %>
    </nav>
    <div class="card__wrapper">
    
    <% @tasks.each do |task| %>
    <% if current_user.id == task.user.id %>
      <% if task.priority_id == 2 %>
      <div class="card_priority">
        <%= render partial: "shared/card", locals: { task: task } %>
      </div>

      <% elsif task.priority_id == 3 %>
      <div class="card_high">
        <%= render partial: "shared/card", locals: { task: task } %>
      </div>

      <% elsif task.priority_id == 4 %>
      <div class="card_middle">
        <%= render partial: "shared/card", locals: { task: task } %>
      </div>

      <% else task.priority_id == 5 %>
      <div class="card_low">
        <%= render partial: "shared/card", locals: { task: task } %>
      </div>

      <% end %>
    <% end %>
    <% end %>
    </div>
  </div>
  </div>
</div>

