<%= render "shared/header"%>

<div class="main-index">

  <input id="t" type="radio" name="tab_item" checked>
  <label class="tab_item" for="t">タスク一覧</label>
  <input id="c" type="radio" name="tab_item" checked>
  <label class="tab_item" for="c">カレンダー</label>
  
  <div class="tab_content" id="calendars">
    <%= month_calendar events: @tasks do |date, tasks| %>
    <%= date.day %>
      <% tasks.each do |task| %>
        <div>
          <%= link_to task.title, task_path(task.id) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="tab_content" id="tasks">
  <div class="main-task">
    <nav class="navbar navbar-light bg-light">
      <%= form_with(url: search_tasks_path, local: true, method: :get, class: "form-inline") do |form| %>
        <%= form.text_field :keyword, placeholder: "タイトルで検索する", class: "form-control mr-sm-2" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </nav>
    <div class="card__wrapper">

    <% @tasks.each do |task| %>
    
      <% if task.priority_id == 2 %>
      <div class="card_priority">
        <%= render partial: "shared/card", locals: { task: task } %>
      </div>

      <% elsif task.priority_id == 3 %>
      <div class="card_high">
        <%= render partial: "shared/card", locals: { task: task } %>
      </div>

      <% elsif task.priority_id == 4 %>
      <div class="card_middle">
        <%= render partial: "shared/card", locals: { task: task } %>
      </div>

      <% else task.priority_id == 5 %>
      <div class="card_low">
        <%= render partial: "shared/card", locals: { task: task } %>
      </div>

      <% end %>
    <% end %>
    </div>
  </div>
  </div>
</div>

