<%= render "shared/header"%>
<div class="main-index">
  <div class="main-task">
    <div class="form-task">
    <h1>新規タスク作成</h1>
    <%= form_with(model: @task, local: true) do |form| %>

      <div class="title-area">
        <%= form.text_field :title, placeholder: "タスク名" %>
      </div>

      <div class="desc-area">
        <%= form.text_area :description, placeholder: "タスク内容" %>
      </div>

      <label class="form-text">予定日</label>
      <div class='input-wrap'>
       <%= form.datetime_select :start_time, :use_month_numbers => true %>
      </div>

      <div class="activehash-detail">
        <div class="form">
          <div class="category-text">
          カテゴリー
          </div>
          <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"task-category"}) %>
          <div class="priority-text">
          優先度
          </div>
          <%= form.collection_select(:priority_id, Priority.all, :id, :name, {}, {class:"select-box", id:"task-priority"}) %>
        </div>
      </div>
      <%= form.submit "タスク作成" %>
    <% end %>
    </div>
  </div>
</div>